#logo {
    width: 5%;
}

.navigation {
    display: flex;
    flex-direction: row;
}
.navigation a{ 
    display: flex;
    border: solid black;
    padding: 1em;
}
.contenu {
    display: flex;
    flex-direction: row;    
}
.contenu article {
    margin: 1%;
    padding: 1%;
    display: flex;
    width: 30%;
    flex-wrap:wrap;
    align-items: stretch;
    border: solid orangered;
}
.contenu img {
    width: 100%;
}