#logo {
    width: 5%;
}

.navigation {
    display: flex;
    flex-direction: row;
    
}
.navigation a{ 
    display: flex;
    background-color: brown;
    border-radius: 10px;
    padding: 1em;
    justify-content: center;
    width:25%;
    margin: 0.5em;
    color: aqua;
}
.contenu {
    display: flex;
    flex-direction: row;    
}
.contenu article {
    border-radius: 10px;
    background-color: rgba(209, 106, 32, 0.7);
    margin: 1%;
    padding: 1%;
    display: flex;
    width: 30%;
    flex-wrap:wrap;
    justify-content: center;
    border: solid orangered;
}
.contenu img {
    width: 100%;
}
body {
    background-image: url(./ressources/backgroundsky.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}

footer {
    border: solid gray;
    background-color: darkcyan;
    color: rgb(36, 36, 36);
}