#logo {
    width: 5%;
}

.navigation {
    display: flex;
    flex-direction: row;
    
}
.navigation a{ 
    display: flex;
    background-color: brown;
    border-radius: 10px;
    padding: 1em;
    justify-content: center;
    width:25%;
    margin: 0.5em;
    color: aqua;
    text-decoration: none;
}
.contenu {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    width: auto;
}
.contenu article {
    border-radius: 10px;
    background-color: rgba(209, 106, 32, 0.8);
    margin: 1%;
    padding: 1%;
    display: flex;
    width: 30%;
    flex-wrap:wrap;
    justify-content: center;
    border: solid orangered;
    box-shadow: 5px 5px 10px #000 ;
}
.contenu img {
    width: 100%;
}
body {
    background-image: url(./ressources/backgroundsky.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    color: rgb(255, 255, 255);
}

footer {
    border: solid gray;
    background-color: darkcyan;
    color: rgb(36, 36, 36);
}

.choixPizza {
    display: flex;
    flex-flow: row nowrap;
    height: 70em;
    overflow: scroll;
}
.orderInfo {
    display: flex;
    justify-content: flex-start;
    padding: 1%;
    background-color:  rgba(209, 106, 32, 0.9);
    border-radius: 3px;
}
.cliInfo {
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color:  rgba(158, 91, 44, 0.9);
    border-radius: 3px;
}